<div id="outside" style="display:none;" class="alert alert-info">Your geolocation is outside of the Twin Cities, so I'll use a default location instead. Use the search bar to locate yourself.</div>
<div id="noroute" style="display:none;" class="alert alert-info">Sorry! We don't support route searching yet, please enter an address.</div>

<div class="home-container">

  <div class="container">     
    <div>
      <div id="view-help"    class="views" style="text-align:center;font-size:120%;margin:0 auto;max-width:450px;">
        <%= render('shared/help') %>
      </div>

      <div id="view-legal" class="views" style="font-size:120%;margin:0 auto;max-width:450px;">
        <%= render('shared/legal') %>
      </div>

      <div id="view-table" class="views">
        <div id="table-results">

        </div>
      </div>

      <div id="view-map" class="views">
        <div id="map-canvas"></div>
      </div>

      <div id="view-route" class="views">
        <%= render('shared/route') %>
      </div>
    </div>
  </div>
</div>

<% #If fade is added to the modal dialog below, the UI can become unusable if ambiguity is triggered too close to another modal, such as occurs when disambiguitating two addresses in the routing function %>
<div class="modal hide" id="ambiguity">
  <div class="modal-header">
    <button type="button" class="close" id="close-ambiguity" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= image_tag("logo-small.png", :size => "24x24", :alt => "MSP Bus Logo") %>&nbsp;Which location?</h3>
  </div>
  <div class="modal-body" style="text-align:center;">
    <div id="ambiguitybuttons" class="btn-group btn-group-vertical" style="width:100%;">
    </div>
  </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.config.google_maps_api_key %>&sensor=true">
</script>

<%= javascript_include_tag "realtime" %>
<%= javascript_include_tag "maps" %>
<%= javascript_include_tag "route_input_view" %>

<%= javascript_include_tag "home" %>


