<% if not @in_bounds %>
  <div class="alert alert-info">No stops found within 10 miles. I'll put you in central Minneapolis to demonstrate how I work. <a href="mailto:omgtransit@gmail.com">Email us</a> if you'd like to see us in your city!</div>

<% elsif @stops.results.empty? %>
  <div class="alert alert-info">No stops found.</div>

<% end %>

<div class="" style="width:100%;">
  <% @stops.results.first(10).each do |stop| %>
    <div class="btn stopbutton <%= isBikeStop(stop.source_stops)?"niceride":""%>" data-stopid="<%= stop.id %>">
      <a href="stop/<%= stop.id %>">
        <div class="distance-label">
          <%= calculate_distance(stop) %>
        </div>
        <span class="stop-name">
          <% if isBikeStop(stop.source_stops) %>
            <span class="pull-left directions-travel-mode-icon directions-bike-icon"></span>&nbsp; 
          <% end %>
          <%= stop.stop_name %>
        </span>
        <div class="real-time clearfix" id="<%= stop.id %>" data-attr="<%= stop.id %>" data-name="<%= stop.stop_name %>" data-realtime='<%= stop.source_stops.to_json.to_s %>'></div>
      </a>
    </div>
  <% end %>
</div>
