<% _.each(data, function(item) { %>
  <span class="label route-chip <%= item.priority %>" data-route="<%= item.Route %>">
    <i class="<%= item.direction %>"></i> 
    <b>
      <% if (logo) { %>
        <img src="/assets/transit-logos/<%= logo %>"> <%= item.Route %>
      <% } else { %>
        <%= item.Route %><%= item.Terminal %>
      <% } %>
    </b>
    <span class="route-chip-italic"><%= item.ChipText %></span>
  </span>
<% }); %>
